/* Header */
.Header1 {
    background-color: rgb(51, 51, 134);
    padding-bottom: 55px;
}
.Header2 {
    padding: 10px 0px 20px 30px;
    font-size: 88px; 
    color: rgb(236, 235, 208);
}
.Header3 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

/* Welcome */
.Welcome1 {
    background-color: rgb(179, 219, 211);
}
.Welcome2 {
    padding-top:85px; 
    padding-bottom:85px;
}
.Welcome3{
    color: rgb(66, 66, 70); 
    text-align: center; 
    font-family: Alfa Slab One;
}

/* Biodata */
.AboutMe1{
    padding-top:85px;
}

/* Opinion */
.MyOpinion1 {
    background-color: rgba(145, 174, 252, 0.993);
    padding-top:100px; 
    padding-bottom:95px;
}
.MyOpinion2 {
    color:darkslategray;
}

/* Fotogaleri */
.MyGallery1 {
    background-image: url('../img/BackgroundGallery.jpg');
    background-size:cover; 
    background-blend-mode: darken;
    background-position: 0 -50px;
    background-attachment: fixed;
}
.MyGallery2 {
    padding-top:85px;
    padding-bottom:85px;
}
.MyGallery3 {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Alfa Slab One;
}

/* ContactMe */
.ContactMe1 {
    background-color: rgb(51, 51, 134);
}
.ContactMe2 {
    padding-top:85px; 
    padding-bottom:120px;
}
.ContactMe3 {
    padding-left: 20px;
    color:rgba(155, 155, 155, 50);
}
.ContactMe4 {
    padding-bottom: 25px;
}

